<%= form_with(model: [copy.picture, copy], url: picture_copies_path(copy.picture_id), local: true) do |form| %>
  <% if copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
        <% copy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :picture_id, value: copy.picture_id %>
  <div class="w-full">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-field" %>
  </div>

  <div class="w-full">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-field" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn" %>
    <%= link_to 'Back', pictures_path, class: "btn" %>
  </div>
<% end %>
