<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-field" %>
  </div>

  <div class="w-full">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-field" %>
  </div>

  <div class="w-full">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-field" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn" %>
    <%= link_to 'Back', pictures_path, class: "btn" %>
  </div>
<% end %>
